{% extends "Waitor/wtrdashboard.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title "><b>Food Orders</b></h4>
{#                  <p class="card-category"> Here is a subtitle for this table</p>#}
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
    <tr>
      <td>Sl No.</td>
      <td>Customer Name</td>
      <td>Customer phone</td>
      <td>&nbsp;</td>
    </tr>
      {% for i in values %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i["customer_name"] }}</td>
      <td>{{ i["phone"] }}</td>
      <td><a href="/wtr_view_items/{{ i["order_master_id"] }}" class="btn btn-info">View Items</a></td>
    <td><a href="/wtr_view_items_fin/{{ i["order_master_id"] }}" class="btn btn-info">Finished</a></td>
    </tr>
      {% endfor %}
  </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
</form>
{% endblock %}