{% extends "Admin/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table class="table table-striped">
    <tr>
      <td><a href="/adm_add_service">Manage Service</a></td>
    </tr>
    <tr>
      <td><a href="/adm_add_food">Add Food Items</a></td>
    </tr>
    <tr>
      <td><a href="/adm_add_spl_food_item">Add Special Food Items</a></td>
    </tr>
    <tr>
      <td><a href="/adm_add_table">Add Table</a></td>
    </tr>
    <tr>
      <td><a href="/adm_add_staff">Add Staff Details</a></td>
    </tr>
    <tr>
      <td><a href="/adm_view_payment_report">View Payment Report</a></td>
    </tr>
    <tr>
      <td><a href="/adm_View_Complaints">View Complaints & Add Reply</a></td>
    </tr>
    <tr>
      <td><a href="/adm_View_Feedback">View Feedback</a></td>
    </tr>
    <tr>
      <td><a href="/adm_Manage_Category">Add Category</a></td>
    </tr>
    <tr>
      <td><a href="/adm_View_Category">View Category</a></td>
    </tr>
      <tr>
      <td><a href="/adm_view_food_items">View Food Items</a></td>
    </tr>
      <tr>
      <td><a href="/adm_view_tables">View Tables</a></td>
      </tr>
       <tr>
           <td><a href="/adm_view_staff">View Staffs</a></td>
    </tr>
      <tr>
           <td><a href="/adm_view_service">view Service</a></td>
    </tr>
       <tr>
           <td><a href="/adm_view_spl_food_item">View Special food</a></td>
    </tr>
  </table>
</form>
{% endblock %}