{% extends "Admin/index2.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table class="table table-striped">
    <tr>
      <td><b>No.</b></td>
      <td><b>Category</b></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
            {% for i in values %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i["category_name"] }}</td>
      <td><a href="/adm_edit_category/{{ i["category_id"] }}" class="btn btn-success">edit</a></td>
      <td><a href="/adm_view_category_delete/{{ i["category_id"] }}" class="btn btn-danger">delete</a></td>
    </tr>
            {% endfor %}
  </table>
</form>
{% endblock %}